body {
    margin-top: 70px !important;
}

#footer {
    border-top: 1px solid gray;
    margin: 10px 0;
    padding: 10px 0;
}

.margin-top-10 {
    margin-top: 10px;
}
.margin-right-5 {
    margin-right: 5px;
}

.red {color: tomato;}

.hour_block {
    float: left;
    margin: 7px 4px;
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    .hour_block {
        float: none;
    }
}

.nav-concerned li a {
    padding: 2px !important;
}

.panel-day-1 { border-color: #210439 !important; }
.panel-day-1 > .panel-heading { background-color: #522B72 !important; }

.panel-day-2 { border-color: #6F3B10 !important; }
.panel-day-2 > .panel-heading { background-color: #E5A977 !important; color: #7F3E07 !important; }

.panel-day-3 { border-color: #0F2550 !important; }
.panel-day-3 > .panel-heading { background-color: #909CB5 !important; color: #0C224E !important; }

.nav-other-lines > li > a:before { content: "↦"; margin: 0 4px; }

.center { text-align: center; }

@media print {
    body {
        margin-top: 0 !important;
        font-size: 0.8em !important;
    }
    
    .panel-header {
        font-size: 0.8em !important;
    }
    
    a[href]:after {
        content: "" !important; 
    }
}