body {
    margin-top: 70px !important;
}

#footer {
    border-top: 1px solid gray;
    margin: 10px 0;
    padding: 10px 0;
}

h1.line {
    text-align: center;
    border-right: 1px solid #31708F;
    /*padding: 4px;*/
}

.margin-top-10 { margin-top: 10px; }
.margin-right-5 { margin-right: 5px; }
.margin-left-30 { margin-left: 30px; }
.small-padding { padding: 5px !important; }
.padding-left-5 { padding-left: 5px !important; }

.red {color: tomato;}

.hour_block {
    float: left;
    margin: 7px 4px;
    font-size: 1.2em;
}

.departure-header h1 small {
    font-size: 0.5em !important;
    background-color: #FFB19C;
    /*border-top: 1px solid #993B2B;*/
    padding: 2px 0;
    display: block;
    text-transform: uppercase;
    color: #427289;
}

/*@media screen and (max-width: 768px) {*/
@media screen and (max-width: 320px) {
    .hour_block {
        float: none;
    }
}

.nav-concerned li a {
    padding: 2px !important;
}

.panel-day-1 { border-color: #210439 !important; }
.panel-day-1 > .panel-heading { background-color: #522B72 !important; color: white !important; }
.panel-day-1 > .panel-heading h4 { color: white !important; }

.panel-day-2 { border-color: #6F3B10 !important; }
.panel-day-2 > .panel-heading { background-color: #E5A977 !important; color: #7F3E07 !important; }
.panel-day-2 > .panel-heading h4 { color: #7F3E07 !important; }

.panel-day-3 { border-color: #0F2550 !important; }
.panel-day-3 > .panel-heading { background-color: #909CB5 !important; color: #0C224E !important; }
.panel-day-3 > .panel-heading h4 { color: #0C224E !important; }

.nav-other-lines > li > a:before { content: "↦"; margin: 0 4px; }

.center { text-align: center; }

.alert-info > .separator::after {
    border-right: 1px solid #31708F;
}

.trip-show { cursor: pointer; }

.current { font-weight: 900; }

@media print {
    body {
        margin-top: 0 !important;
        font-size: 1em !important;
    }
    
    .alert-print { padding: 2px !important; }
    .alert-print > div { padding: 2px !important; }
    .alert-print > div > h1, 
    .alert-print > div > h2, 
    .alert-print > div > h3 { padding: 2px !important; margin: 2px !important } 
    
    .panel-small-padding div {
        padding: 2px !important;
    }
    .panel-small-padding > h4 { padding: 2px !important; }
    
    ul.nav > .active > a {
        border: 1px solid black;
        border-radius: 4px;
        margin: 2px 0;
        font-weight: 900;
    }
    
    a[href]:after {
        content: "" !important; 
    }
}