body {
	background-image: url('../mzk-header-bg-01.jpg');
}
body#print {
	background: none !important;
}

div#page {
	background-color: white;
	width: 90%;
	border: 1px solid black;
	margin: 10px auto;
	padding: 10px;
}

div#logo {
	text-align: center;
	border-bottom: 1px dotted grey;
}
div#logo img {
	width: 70px;
	height: 70px;
	padding: 10px;
}

div#lines {
	margin: 5px auto;
	height: 40px;
	vertical-align: middle;
}
div#lines ul {
	margin: 0 auto;
	padding: 10px 0 0;
	list-style: none;
	text-align: center;
}
div#lines ul li {display: inline;}
div#lines ul li a {
	padding: 6px;
	border: 1px solid black;
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bold;
	color: white;
	background-color: #036;
}
div#lines ul li a.chosen {background-color: #f4f;}
div#lines ul li a:hover {background-color: #369;}

div#main {
	border-top: 1px dotted gray;
	margin-top: 10px;
	padding: 10px;
}

div#footer {
	margin-top: 10px;
	padding: 10px;
	border-top: 1px dotted gray;
}



div#line_info {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	text-align: center;
}
/*div#linia_info*/ span.line {
	font-weight: bold;
	font-size: 1.8em;
	color: red;
}
/*div#linia_info*/ span.stop_name {
	font-weight: bold;
	color: green;
}
/*div#linia_info*/ span.direction_name {
	font-weight: bold;
	color: blue;
}

table#departures {
	border-collapse: collapse;
	width: 100%;
}
table#departures td{
	text-align: center;
	padding: 2px;
	border: 1px solid black;
	vertical-align: top;
}
/*table#departures td:first-child {
	vertical-align: middle !important;
	font-weight: bold;
	width: 150px;
	background-color: lightgrey;
}*/
table#departures tr.hours {
	height: 25px;
}
table#departures tr.hours td.hour{
	vertical-align: middle;
	font-weight: bold;
	/*min-width: 40px;*/
	background-color: lightgrey;
}
table#departures td.day_type {
	vertical-align: middle !important;
	font-weight: bold;
	width: 150px;
	background-color: lightgrey;
}
table#departures td.mins_text {
	vertical-align: middle;
	background-color: lightgrey;
	font-variant: small-caps;
	font-style: italic;
	font-weight: bold;
	width: 30px;
}
table#departures td a{
	color: black;
	padding: 1px;
	margin: 1px;
	border: 1px solid transparent;
	text-decoration: none;
}
table#departures td a.passed {
	color: grey;
}
table#departures td a.next {
	font-weight: bold;
	color: #003366;
}
table#departures td a:hover{
	border: 1px solid black;
}
table#departures td.route {
	vertical-align: top !important;
	font-weight: normal !important;
	text-align: left;
	font-size: 1.1em;
	background-color: transparent !important;
	/*min-width: 250px !important;*/
	width: 350px !important;
}
table#departures td.pdf {
	vertical-align: top !important;
	text-align: left;
	font-size: 10pt;
	width: 350px !important;
}
table#departures td.route a, table#departures td.route span{
	font-weight: normal !important;
	font-size: 0.7em;
	padding-left: 10px;
	border: none !important;
}
table#departures td.route span.on_request {
	font-weight: bold !important;
	color: red;
	font-size: 1.2em !important;
	padding-left: 0;
}
table#departures td.pdf span{
	font-weight: normal !important;
	padding-left: 20px;
	border: none !important;
}
table#departures td.route a:hover{
	text-decoration: underline;
}
table#departures td.route a.current, table#departures td.route span.current {
	color: green;
	font-weight: bold !important;
	padding-left: 0px;
}
td.pdf span.current {
	color: green !important;
}
table#departures td.infos {
	font-family: monospace;
	font-weight: normal !important;
	vertical-align: top !important;
	padding: 10px;
	text-align: left;
	background-color: transparent !important;
	min-height: 100px;
	height: 150px;
}
table#departures tr:last-child td {
	height: 25px !important;
	font-size: 1.3em;
}

div#przebieg a {
	color: black;
	text-decoration: none;
}
div#przebieg a.current {
	color: green;
	font-weight: bold;
}
div#przebieg a:hover {
	color: black;
	text-decoration: underline;
}
span.on_request {
	font-weight: bold !important;
	color: red;
	font-size: 1.2em;
}
span.hour {
	font-weight: bold;
	color: blue;
	font-size: 1.2em;
}

div#directions {
	/*padding: 10px;
	text-align: center;
	margin: 0 auto;*/
}
span.direction {
	padding: 10px;
	margin: 10px;
	/*border: 1px solid black;*/
}
span.direction a {
	color: black;
	text-decoration: none;
}
span.direction a:hover {
	text-decoration: underline;
}

div#other_lines {
	margin: 10px 0;
}
div#other_lines a {
	color: black;
	text-decoration: none;
} 
div#other_lines a:hover {
	text-decoration: underline;
} 

div.print a {
	font-style: none;
	text-decoration: none;
	color: black;
}
div.print a:hover {
	text-decoration: underline;
}

div.direction1 {
	width: 47%;
	float: left;
	border-right: 1px dotted grey;
}
div.direction2 {
	width: 47%;
	float: right;
	border-left: 1px dotted grey;
}
div.direction {
	text-align: left;
	padding: 10px;
}
div.direction a {
	color: #03e;
	text-decoration: none;
} 
div.direction a:hover {
	text-decoration: underline;
} 
div.direction:first-child {
	max-width: 100%;
	float: left;
}
div.direction:last-child {
	
}

br.clear {
	clear: both;
}

a.depatrure {
	padding-left: 45px;
}

hr.break_page {
	page-break-before: always;
}

a#list_info {
	font-size: 1.2em;
	color: black;
	text-decoration: none;
}

a#list_info:hover {
	text-decoration: underline;
}


/* all deprartures */
table#all_departures {
	border-collapse: collapse;
	width: 100%;
}
table#all_departures td, table#all_departures th {
	border: 1px solid black;
}
table#all_departures th {
	background-color: lightgrey;
}
table#all_departures td {
	text-align: center;
}
table#all_departures th#all_departures_line {
	width: 50px;
}
table#all_departures td.line {
	font-weight: bold;
	background-color: lightgrey;
}
table#all_departures td a {
	color: black;
	text-decoration: none;
}
table#all_departures td a.passed {
	color: grey;
}
table#all_departures td a.next {
	font-weight: bold;
	color: #003366;
}
table#all_departures td a:hover {
	text-decoration: underline;
}
