html,body{margin:0;padding:0}
body{font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background: #fff;padding-bottom:20px}
a { color: #0066B3; background: inherit; text-decoration: none;}
a:hover {text-decoration: underline;}
h1 { font: bold 2.1em Arial, Arial, Sans-Serif; color: #036DA7 }
h2 { font: bold 1.1em Arial, Arial, Sans-Serif; padding: 0; margin: 0; }

div#header{width:100%;overflow:hidden;background: #BBD9EE; text-align: center}
div#header img { height: 70px; } 
div#header h1,div#menu{width:770px;margin:0 auto;text-align:left}
div#header h1{padding: 30px 0 20px;color: #fff}

ul.lines,ul.lines li{list-style-type:none;margin:0;padding:0}
ul.lines{float:right;font-size: 80%}
ul.lines li{float:left;margin-left: 3px;text-align: center}
ul.lines a{font-size: 1.2em; float:left;width: 35px;padding: 5px 0;background: #E7F1F8;text-decoration:none;color: #666; border-top : 1px solid #fff; border-left : 1px solid #fff; border-right : 1px solid #fff;}
ul.lines a.chosen{background: #E1C3D2;color: #666;}
ul.lines a:hover{/*background: #fff;*/color: #000}
ul.lines li.activelink a,ul.lines li.activelink a:hover{background: #FFF;color: #003}

#right {
	float: left;
	width: 76%;
	padding: 1em;
	margin-bottom: 1.2em;
	background: #eee;
	text-align: justify;
	border-radius: 10px;
}

#left {
	float: right;
	width: 20%;
	margin: 0 0 10px 0;
	border-radius: 10px;
}

#left .box {
	
	padding: 1em;
	margin: 0 0 1em 0;
	background : #FFF6BF;
	border-radius: 10px;
}

#content {
	font: 95%/1.3 TrebuchetMS,Arial,sans-serif;
	margin: 0 auto;
    padding: 15px;
	background: #fff;
}

/*div.line_info {border: 1px solid black;padding: 10px;margin: 10px;text-align: center;}*/
div.line_info {border: 1px solid #000;padding: 10px 0;margin: 10px 0;text-align: center;width: 100%;}
span.line {font-weight: bold;font-size: 1.8em;color: red;}
span.stop_name {font-weight: bold;color: green;}
span.direction_name {font-weight: bold;color: blue;}
span.on_request {font-weight: bold !important;color: red;font-size: 1.2em;}
span.hour {font-weight: bold;color: blue;font-size: 1.2em;}
span.direction {padding: 10px;margin: 10px;}
span.direction a {color: black;text-decoration: none;}
span.direction a:hover {text-decoration: underline;}

div.direction {margin: 5px; padding: 5px; border: 1px dotted grey; float: left;}

table.departures {border-collapse: collapse;width: 100%;}
table.departures td{text-align: center;padding: 2px;border: 1px solid black;vertical-align: top;}
table.departures tr.hours {height: 25px;}
table.departures tr.hours td.hour{vertical-align: middle;font-weight: bold;background-color: lightgrey;}
table.departures td.day_type {vertical-align: middle !important;font-weight: bold;width: 150px;background-color: lightgrey;}
table.departures td.mins_text {vertical-align: middle;background-color: lightgrey;font-variant: small-caps;font-style: italic;font-weight: bold;width: 30px;}
table.departures td a{color: black;padding: 1px;margin: 1px;border: 1px solid transparent;text-decoration: none;}
table.departures td a.passed {color: grey;}
table.departures td a.next {font-weight: bold;color: #003366;}
table.departures td a.starting {color: green; !important}
table.departures td a.ending {color: red; !important}
table.departures td a:hover{border: 1px solid black;}
table.departures td.route {vertical-align: top !important;font-weight: normal !important;text-align: left;font-size: 1.1em;background-color: transparent !important;}
table.departures td.pdf {vertical-align: top !important;text-align: left;font-size: 10pt;width: 350px !important;}
table.departures td.route a, table.departures td.route span{font-weight: normal !important;font-size: 0.7em;padding-left: 10px;border: none !important;}
table.departures td.route span.on_request {font-weight: bold !important;color: red;font-size: 1.2em !important;padding-left: 0;}
table.departures td.pdf span{font-weight: normal !important;padding-left: 20px;border: none !important;}
table.departures td.route a:hover{text-decoration: underline;}
table.departures td.route a.current, table.departures td.route span.current {color: green;font-weight: bold !important;padding-left: 0px;}
td.pdf span.current {color: green !important;}
table.departures td.infos {font-family: monospace;font-weight: normal !important;vertical-align: top !important;padding: 10px;text-align: left;background-color: transparent !important;min-height: 100px;height: 150px;}
table.departures tr:last-child td {height: 25px !important;font-size: 1.3em;}
table.departures td span.starting {color: green; !important}
table.departures td span.ending {color: red; !important}

div.other_lines {margin: 10px 0px;width: 45%;float: right;}
div.other_lines a {color: black;text-decoration: none;} 
div.other_lines a:hover {text-decoration: underline;} 

div.print {margin: 10px 0px;width: 45%;float: left;}

br.clear {clear: both;}
a.depatrure {padding-left: 45px;}
hr.break_page {page-break-before: always;}

a#list_info {font-size: 1.2em;color: black;text-decoration: none;}
a#list_info:hover {text-decoration: underline;}

div#przebieg a {color: black;text-decoration: none;}
div#przebieg a.current {color: green;font-weight: bold;}
div#przebieg a:hover {color: black;text-decoration: underline;}

/* all deprartures */
table.all_departures {border-collapse: collapse;width: 100%;}
table.all_departures td, table.all_departures th {border: 1px solid black;}
table.all_departures th {background-color: lightgrey;}
table.all_departures td {text-align: center;}
table.all_departures th.all_departures_line {width: 50px;}
table.all_departures td.line {font-weight: bold;background-color: lightgrey;}
table.all_departures td a {color: black;text-decoration: none;}
table.all_departures td a.passed {color: grey;}
table.all_departures td a.next {font-weight: bold;color: #003366;}
table.all_departures td a:hover {text-decoration: underline;}

ul { padding: 0; margin: 0;}
li { list-style-type: none;}