@media screen {
	a.passed {color: #c3c3c3 !important;}
	a.next {color: green !important; font-weight: 700 !important;}
}

tr.passed {background: lightgray; display: none;}
tr.next {background: lightgreen;}

.hour_block {
	font-size: 1.4em !important;
}

.table-hover > tbody > tr {transition: background-color 0.3s linear;}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.bigger {font-size: 1.2em !important;}

.departure-header a {color: inherit !important;}

.panel-heading-stop-daytype {
	padding: 0 !important;
}
.panel-heading-stop-daytype h4 {
	margin-top: 0;
}
.panel-heading-stop-daytype h4 a {
	padding: 10px 15px !important;
}